{% extends 'base.html' %}

{% block title %}Мое резюме{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Мое резюме</h1>
        <div class="row">
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Навыки</h2>
                <ul class="list-group">
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Python</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Flask</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Linux</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> C</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Проекты</h2>
                <h4>Сайт для ведения рабочей статистики. Мини SRM</h4>
                <p class="text-muted mb-0">- Разработка сайтов и web-приложений с использованием Flask</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Контакты</h2>
                <p class="mb-0"><i class="fa fa-phone"></i> Телефон: +79178923741</p>
                <p class="mb-0"><i class="fa fa-envelope"></i> Email: allgoodday17@gmail.com</p>
                <p class="mb-0"><i class="fa fa-github"> GitHub: <a href="https://github.com/apellsuchic"></i>go</a></p>
            </div>
            <div class="col-md-6">
                <h2>Языки</h2>
                <ul class="list-group">
                    <li class="list-group-item border-0 py-1"><i class="fa fa-check-circle"></i> Английский (B1)</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-check-circle"></i> Русский (родной)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}